.Input,
.Textarea {
  padding-left: 8px;
  border: 1px solid white;
}

.Input,
.Textarea {
  background-color: var(--gray-a2);
  box-shadow: var(--box-shadow);
}

.Input:hover,
.Textarea:hover {
  box-shadow: var(--box-shadow-hover);
}

.Input:focus,
.Textarea:focus {
  box-shadow: var(--box-shadow-focus);
}

.Input::selection,
.Textarea::selection {
  background-color: var(--gray-a6);
}
