.Input,
.Textarea {
  border-radius: var(--radius-2);
  padding-left: 8px;
  font-size: var(--font-size-2);
  border: 1px solid white;
}

.Input,
.Textarea {
  background-color: var(--text-a2);
  box-shadow: var(--box-shadow);
}

.Input:hover,
.Textarea:hover {
  box-shadow: var(--box-shadow-hover);
}

.Input:focus,
.Textarea:focus {
  box-shadow: var(--box-shadow-focus);
}

.Input::selection,
.Textarea::selection {
  background-color: var(--text-a6);
}
