.slideContainer {
  -ms-overflow-style: none;
  scrollbar-width: none;
  height: 100%;
  width: 100%;

  &::-webkit-scrollbar {
    display: none;
  }
}

.slideControls {
  background: var(--white-hue);
  border-radius: var(--radius-6);
}

.slideshowOverlay {
  background-color: var(--white-hue);
  border-radius: var(--radius-2);
  color: var(--white);
}
.control {
  height: 16px;
  width: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
}
.activeSlideControl {
  background-color: var(--white);
}

.slideControl {
  background-color: var(--grey);
}
