.slideContainer {
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
}

.slideContainer::-webkit-scrollbar {
  display: none;
}

.slide {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.controls {
  left: 50%;
  transform: translateX(-50%);
  z-Index: 1;
  pointer-events: "auto";
}