.slideContainer {
  -ms-overflow-style: none;
  scrollbar-width: none;
  height: 100%;
  width: 100%;
  border-radius: var(--border-radius);
}

.slideContainer::-webkit-scrollbar {
  display: none;
}

.slide {
  z-index: 1;
  background: var(--white-hue);
  border-radius: var(--radius-6);
  color: var(--white);
}

.slideControls {
  bottom: 0;
  z-index: 1;
  background: var(--white-hue);
  border-radius: var(--radius-6);
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.control {
  height: 16px;
  width: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
}
.activeSlideControl {
  background-color: var(--white);
}

.slideControl {
  background-color: var(--grey);
}
