:root,
.light,
.light-theme,
.radix-themes {
  --color-background: #feffdc;
}

.radix-themes, /* add this */
:root,
.light,
.light-theme {
  --accent-1: #f7faf9;
  --accent-2: #f1f7f5;
  --accent-3: #e3f1ec;
  --accent-4: #d4eae3;
  --accent-5: #c6e2d9;
  --accent-6: #b7d8cd;
  --accent-7: #a4cabe;
  --accent-8: #86b7a7;
  --accent-9: #457063;
  --accent-10: #376255;
  --accent-11: #406b5e;
  --accent-12: #1d322c;

  --accent-a1: #f6f9ffd4;
  --accent-a2: #ecf4ffb7;
  --accent-a3: #c4e1ff75;
  --accent-a4: #2c96ff33;
  --accent-a5: #047ecf39;
  --accent-a6: #0375a748;
  --accent-a7: #026b885b;
  --accent-a8: #02686c79;
  --accent-a9: #003b36ba;
  --accent-a10: #003730c8;
  --accent-a11: #003a34bf;
  --accent-a12: #001816e2;

  --accent-contrast: #fff;
  --accent-surface: #eef5fbcc;
  --accent-indicator: #457063;
  --accent-track: #457063;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    .radix-themes,
    :root,
    .light,
    .light-theme {
      --accent-1: oklch(98.2% 0.0032 173);
      --accent-2: oklch(97.1% 0.0064 173);
      --accent-3: oklch(94.6% 0.0163 173);
      --accent-4: oklch(92% 0.0252 173);
      --accent-5: oklch(89.1% 0.0322 173);
      --accent-6: oklch(85.6% 0.0383 173);
      --accent-7: oklch(80.9% 0.0449 173);
      --accent-8: oklch(74% 0.0567 173);
      --accent-9: oklch(51% 0.0525 173);
      --accent-10: oklch(46% 0.0525 173);
      --accent-11: oklch(49.1% 0.0525 173);
      --accent-12: oklch(29.8% 0.0293 173);

      --accent-a1: color(display-p3 0.9686 0.9765 1 / 0.813);
      --accent-a2: color(display-p3 0.9294 0.9569 1 / 0.688);
      --accent-a3: color(display-p3 0.7686 0.8667 1 / 0.407);
      --accent-a4: color(display-p3 0 0.3098 1 / 0.125);
      --accent-a5: color(display-p3 0.0039 0.4157 0.7608 / 0.201);
      --accent-a6: color(display-p3 0.0039 0.3882 0.6 / 0.256);
      --accent-a7: color(display-p3 0.0039 0.3451 0.4745 / 0.323);
      --accent-a8: color(display-p3 0.0039 0.3412 0.3804 / 0.434);
      --accent-a9: color(display-p3 0 0.1843 0.1765 / 0.689);
      --accent-a10: color(display-p3 0 0.1686 0.1529 / 0.745);
      --accent-a11: color(display-p3 0 0.1765 0.1686 / 0.709);
      --accent-a12: color(display-p3 0 0.0667 0.0627 / 0.867);

      --accent-contrast: #fff;
      --accent-surface: color(display-p3 0.9373 0.9608 0.9804 / 0.8);
      --accent-indicator: oklch(51% 0.0525 173);
      --accent-track: oklch(51% 0.0525 173);
    }
  }
}

:root,
.light,
.light-theme {
  --gray-1: #f9f9f9;
  --gray-2: #f5f5f5;
  --gray-3: #ececec;
  --gray-4: #e4e4e4;
  --gray-5: #dcdcdc;
  --gray-6: #d4d4d4;
  --gray-7: #cacaca;
  --gray-8: #b6b6b6;
  --gray-9: #888;
  --gray-10: #7e7e7e;
  --gray-11: #5f5f5f;
  --gray-12: #202020;

  --gray-a1: #f8f8ffd4;
  --gray-a2: #f2f2ffb7;
  --gray-a3: #d7d6ff75;
  --gray-a4: #8e8bff3b;
  --gray-a5: #0700dc23;
  --gray-a6: #0501ad2b;
  --gray-a7: #04008635;
  --gray-a8: #03005849;
  --gray-a9: #02002977;
  --gray-a10: #00002281;
  --gray-a11: #000015a0;
  --gray-a12: #000005df;

  --gray-contrast: #ffffff;
  --gray-surface: #ffffffcc;
  --gray-indicator: #888;
  --gray-track: #888;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root,
    .light,
    .light-theme {
      --gray-1: oklch(98.2% 0 none);
      --gray-2: oklch(97.2% 0 none);
      --gray-3: oklch(94.3% 0 none);
      --gray-4: oklch(91.9% 0 none);
      --gray-5: oklch(89.6% 0 none);
      --gray-6: oklch(87.1% 0 none);
      --gray-7: oklch(83.8% 0 none);
      --gray-8: oklch(77.7% 0 none);
      --gray-9: oklch(62.8% 0 none);
      --gray-10: oklch(59.3% 0 none);
      --gray-11: oklch(48.7% 0 none);
      --gray-12: oklch(24.4% 0 none);

      --gray-a1: color(display-p3 0.9725 0.9725 1 / 0.813);
      --gray-a2: color(display-p3 0.9451 0.9451 1 / 0.688);
      --gray-a3: color(display-p3 0.8235 0.8196 1 / 0.407);
      --gray-a4: color(display-p3 0.349 0.3294 1 / 0.157);
      --gray-a5: color(display-p3 0.0314 0.0078 0.7922 / 0.138);
      --gray-a6: color(display-p3 0.0235 0.0039 0.6196 / 0.169);
      --gray-a7: color(display-p3 0.0157 0.0039 0.4784 / 0.208);
      --gray-a8: color(display-p3 0.0157 0.0039 0.3176 / 0.287);
      --gray-a9: color(display-p3 0.0078 0.0039 0.1451 / 0.467);
      --gray-a10: color(display-p3 0.0078 0 0.1255 / 0.506);
      --gray-a11: color(display-p3 0.0039 0 0.0745 / 0.628);
      --gray-a12: color(display-p3 0 0 0.0196 / 0.875);

      --gray-contrast: #ffffff;
      --gray-surface: color(display-p3 1 1 1 / 80%);
      --gray-indicator: oklch(62.8% 0 none);
      --gray-track: oklch(62.8% 0 none);
    }
  }
}
