:root {
--accent-1: var(--blue-1);
--accent-2: var(--blue-2);
--accent-3: var(--blue-3);
--accent-4: var(--blue-4);
--accent-5: var(--blue-5);
--accent-6: var(--blue-6);
--accent-7: var(--blue-7);
--accent-8: var(--blue-8);
--accent-9: var(--blue-9);
--accent-10: var(--blue-10);
--accent-11: var(--blue-11);
--accent-12: var(--blue-12);

--accent-a1: var(--blue-a1);
--accent-a2: var(--blue-a2);
--accent-a3: var(--blue-a3);
--accent-a4: var(--blue-a4);
--accent-a5: var(--blue-a5);
--accent-a6: var(--blue-a6);
--accent-a7: var(--blue-a7);
--accent-a8: var(--blue-a8);
--accent-a9: var(--blue-a9);
--accent-a10: var(--blue-a10);
--accent-a11: var(--blue-a11);
--accent-a12: var(--blue-a12);

--text-1: var(--sage-1);
--text-2: var(--sage-2);
--text-3: var(--sage-3);
--text-4: var(--sage-4);
--text-5: var(--sage-5);
--text-6: var(--sage-6);
--text-7: var(--sage-7);
--text-8: var(--sage-8);
--text-9: var(--sage-9);
--text-10: var(--sage-10);
--text-11: var(--sage-11);
--text-12: var(--sage-12);

--text-a1: var(--sage-a1);
--text-a2: var(--sage-a2);
--text-a3: var(--sage-a3);
--text-a4: var(--sage-a4);
--text-a5: var(--sage-a5);
--text-a6: var(--sage-a6);
--text-a7: var(--sage-a7);
--text-a8: var(--sage-a8);
--text-a9: var(--sage-a9);
--text-a10: var(--sage-a10);
--text-a11: var(--sage-a11);
--text-a12: var(--sage-a12);

--success-1: var(--green-1);
--success-2: var(--green-2);
--success-3: var(--green-3);
--success-4: var(--green-4);
--success-5: var(--green-5);
--success-6: var(--green-6);
--success-7: var(--green-7);
--success-8: var(--green-8);
--success-9: var(--green-9);
--success-10: var(--green-10);
--success-11: var(--green-11);
--success-12: var(--green-12);

--warning-1: var(--yellow-1);
--warning-2: var(--yellow-2);
--warning-3: var(--yellow-3);
--warning-4: var(--yellow-4);
--warning-5: var(--yellow-5);
--warning-6: var(--yellow-6);
--warning-7: var(--yellow-7);
--warning-8: var(--yellow-8);
--warning-9: var(--yellow-9);
--warning-10: var(--yellow-10);
--warning-11: var(--yellow-11);
--warning-12: var(--yellow-12);

--danger-1: var(--red-1);
--danger-2: var(--red-2);
--danger-3: var(--red-3);
--danger-4: var(--red-4);
--danger-5: var(--red-5);
--danger-6: var(--red-6);
--danger-7: var(--red-7);
--danger-8: var(--red-8);
--danger-9: var(--red-9);
--danger-10: var(--red-10);
--danger-11: var(--red-11);
--danger-12: var(--red-12);
}
