/* animation.css */

/* Define keyframes */
@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Define the animation rule */
.animate {
  animation: slideIn 1s ease-out forwards;
}

.bg {
  border: 1px solid var(--primary);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* prettier-ignore */
  animation: flicker 5s infinite alternate, backgroundChange 5s infinite alternate;

  &:hover {
    animation-play-state: paused;
  }
}

@keyframes flicker {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes backgroundChange {
  0% {
    background-image: url("../public/bg/bg-1.png");
  }
  25% {
    background-image: url("../public/bg/bg-2.png");
  }
  50% {
    background-image: url("../public/bg/bg-3.png");
  }
  75% {
    background-image: url("../public/bg/bg-4.png");
  }
  100% {
    background-image: url("../public/bg/bg-5.png");
  }
}
