@keyframes growIn {
  from {
    transform: perspective(3000px) rotateX(12deg);
    opacity: 0.9;
    transform-origin: bottom;
  }

  to {
    transform: rotateX(0);
    opacity: 1;
  }
}
.animateGrowIn {
  animation-name: growIn;
  animation-duration: 3.2s;
}
