@import "./animation.css";
@import "./colors.css";
@import "./test.css";

/**/
:root {
    font-family: var(--font-sans);
        --black: #0D0C0C;
        --grey: #353535;
    --grey-hue: color-mix(in srgb, var(--grey) 10%, transparent);
    --primary: #1786B4;
    --primary-hue: color-mix(in srgb, var(--primary) 10%, transparent);
        --white: #FAFAFA;
        --white-hue: color-mix(in srgb, var(--white) 20%, transparent);
        --all-white: #fff;
    --border-radius: 25px;
    --border-radius-normal: 8px;
    --icon-button-height: 20px;
    --icon-button-width: 24px;
}
.serif {
    font-family: var(--font-serif);
}