@import "./animation.css";
@import "./colors.css";
@import "./test.css";

/**/
:root {
  font-family: var(--font-sans);
  --black: #0d0c0c;
  --grey: #353535;
  --grey-hue: color-mix(in srgb, var(--grey) 10%, transparent);
  --primary: #1786b4;
  --primary-hue: color-mix(in srgb, var(--primary) 10%, transparent);
  --white: #fafafa;
  --white-hue: color-mix(in srgb, var(--white) 20%, transparent);
  --all-white: #211e1e;
  --icon-button-height: 20px;
  --icon-button-width: 24px;
  --font-weight: 300;
}

.serif {
  font-family: var(--font-serif);
}

.sans {
  font-weight: 300;
}

.primaryButton {
  background-color: var(--white);
  color: var(--black);
}

.secondaryButton {
  background-color: var(--white);
  color: var(--black);
}
