@import "./animation.css";
@import "./colors.css";
@import "./test.css";

/**/
:root {
    --default-font-family: var(--font-inter);
        --display-font: '';
        --text-font: var(--default-font-family);
            --black: #0D0C0C;
        --grey: #353535;
    --grey-hue: color-mix(in srgb, var(--grey) 10%, transparent);
        --primary: #1786B4;
    --primary-hue: color-mix(in srgb, var(--primary) 10%, transparent);
        --white: #FAFAFA;
        --white-hue: color-mix(in srgb, var(--white) 20%, transparent);
        --all-white: #fff;
    --border-radius: 25px;
    --icon-button-height: 20px;
    --icon-button-width: 24px;
}