
.test {
    border: 1px solid var(--warning-7);
}

.test-responsive::before {
    position: absolute;
    z-index: 2;
    filter: opacity(0.5);
    content: "";
    left: 0;
    padding: 2px 4px;
    background-color: var(--warning-9);

}

@media screen and (max-width: 300px) {
    .test-responsive::before {
        content: "Phones (portrait)";
    }
}

@media screen and (min-width: 301px) and (max-width: 520px) {
    .test-responsive::before {
        content: "Phones (landscape)";
    }
}

@media screen and (min-width: 521px) and (max-width: 768px) {
    .test-responsive::before {
        content: "Tablets (portrait)";
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .test-responsive::before {
        content: "Tablets (landscape)";
    }
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
    .test-responsive::before {
        content: "Laptops";
    }
}

@media screen and (min-width: 1281px) {
    .test-responsive::before {
        content: "Desktops";
    }
}