@import "@radix-ui/colors/sage.css";

:root {
  --box-shadow: 0 0 0 1px var(--gray-a6);
  --box-shadow-hover: 0 0 0 1px var(--gray-a8);
  --box-shadow-focus: 0 0 0 2px var(--gray-a8);
}

body {
  background-color: var(--color-background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

/* reset */
input,
textarea,
button {
	all: unset;
	box-sizing: border-box;
}

a {
  color: var(--gray-12);
  text-decoration: none;
}

.serif {
  font-family: var(--font-serif);
  font-weight: 400 !important;
}

.sans {
  font-family: var(--font-sans);
}

