@import "@radix-ui/colors/sage.css";

:root {
  --box-shadow: 0 0 0 1px var(--text-a6);
  --box-shadow-hover: 0 0 0 1px var(--text-a8);
  --box-shadow-focus: 0 0 0 2px var(--text-a8);
}

/* reset */
input,
textarea,
button {
	all: unset;
	box-sizing: border-box;
}

a {
  color: var(--text-12);
  text-decoration: none;
}
